#!/bin/bash
#
# Environment configuration default values
#
export PUBLISH_HOST="localhost:1883"
export PUBLISH_SCHEME=tcp
export PUBLISH_CLIENTID=rflink
export PUBLISH_TOPIC=rflink
export SERIAL_DEVICE=/dev/ttyUSB0
export SERIAL_BAUD=57600
